* {
    margin: 0;
    padding: 0;
  }


header {
  max-width: 1200px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header.barraNav {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  
}

.imgs {
  display: flex; 
  align-items: center; 
}

.imgs img {
  margin-right: 40px;
}

.link{
  margin-right: 20px;
}

/*links do header*/
.link > a{
  text-decoration: none;
  color: #0F172A;
  font-size: 14px;
}

.link > a{
  font-family: 'Poppins', sans-serif;

}


button > a{
  text-decoration: none;
  background-color: #3E8C3A;
  color: white;
  font-size: 14px;
}

.bVerde > button{
  width: 92px;
  height: 44px;
  
}

button {
  border: none;
  border-radius: 5px;
  background-color: #3E8C3A;
  color: white;
  width: 92px;
  height: 44px;
}

.bVerde > button > a {
  text-decoration: none;
  color: inherit; /* Herda a cor do botão */
}




.hero{
  max-width: 1200px;
  height: 800px;
  margin: auto;
  display: flex;
  
}



.tituloHero > h1{
  width: 600px;
  height: 198px;
  font-size: 58px;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.mulherHero > img{
  width: 600px;
  height: 800px;
  border-top-left-radius: 500px;
  border-bottom-right-radius: 500px; 
}

.parte1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  
}

