* {
    margin: 0;
    padding: 0;
  }


header {
  max-width: 1440px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.links {
  display: flex;
}